<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Consultorio Online</mat-card-title>
    </mat-card-header>
    <form [formGroup]="login" (ngSubmit)="entrar()">
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input type="email" formControlName="email" matInput placeholder="Email" required>
      </mat-form-field>
      <mat-form-field>
        <mat-icon matSuffix>key</mat-icon>
        <input type="password" formControlName="passw" matInput placeholder="password" autocomplete="new-password" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="start">
      <button type="submit" mat-raised-button color="primary">Iniciar Sesion</button>
    </mat-card-actions>
  </form>
  </mat-card>
</div>
